.App {
  font-family: sans-serif;
}
.router1{
  padding: 2rem;
  margin-top: 60px;
}
.Card-poster {
  height: 340px;
  width: 340px;
  object-fit:contain;
}

.animate{
  position: relative;
  animation: myfirst 5s linear infinite alternate;
}

@keyframes myfirst {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:100px; top:0px;}
  50%  {color:blue; left:200px; top:0px;}
  75%  {color:green; left:300px; top:0px;}
  100% {color:red; left:400px; top:0px;}
}

.Card-name {
  font-size: 24px;
}

.positiond{
  position:relative;
}



.Card-specs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Card {
  width: 340px;
  color: white;
}

.Card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.rate{
  margin: 5%;
}


.counter-container{
  display: flex;
  gap:10px
}

.counter-container>button{
  font-size: 1.2rem;
}

.header {
  display: flex;
  justify-content: center;
  background: rgb(243, 52, 4);
  opacity: 0.7;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

.header1 img {
  height: 2rem;
  width: auto;
  background-color: #000;
}

.container {
  padding: 2rem;
  height: auto;
}

.add-movie-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit:hover {
  cursor:pointer;
  color: #000;
}

.input-text {
  border-radius: 7px;
  height: 4rem;
  width: 50%;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: auto;
}

.movie-actions{
display: flex;
justify-content: center;
margin-top: 5%;
gap: 0.5rem;
}

body{
  background-color: #f2f2f2;
}

nav{
display: flex;
flex-direction: column;
gap: 1rem;
}

.not-found{
  text-align: center;
  font-size: 6rem;
}
.not-found>h2{
  margin: 0;
}
.not-found-img{
  width: 100%;
  max-width: 60rem;
}

.movie-details-container{
  padding: 24px;
max-width: 45rem;
}

.game-box{
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  font-size: 4rem;
  height: 140px;
  width: 140px;
  color: #cfc8b8;
  border: 4px solid #cfc8b8;
}

.header1{
display: flex;


}

.white-content {
  background: #da1414;
}


.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;

  position: relative;
  border: 15px solid #cfc8b8;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  z-index: 10;
  
}

.btn{
  display: flex;
  justify-content: space-evenly
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game-box.x {
  background-color: #524a4c;
}
.game-box.o {
  background-color: #6b948c;
}

.game-box:hover{
  background-color: rgba(0, 0, 0, 0.11);
}

/* .Card {
  justify-content: center;
  justify-items: center;
  border: 2px solid rgb(131, 129, 129);
  padding: 10px;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  
}

.Card-poster {
  justify-content: center;
  height: 10rem;
  width: auto;
  object-fit: cover;
} */